.ScanList {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.ScanList_Item {
  padding: 10px;
  background: #fff;
  margin: 10px auto;
  width: 90%;
  max-width: 500px;
  border-radius: 3px;
}

.ScanList_ItemTitle {
  font-size: 1.2em;
}

.ScanList_ItemAuthor {
  float: right;
}
